.debug {
  border: 1px solid magenta !important; }

.flexible {
  display: -webkit-flex;
  display: flex; }
  .flexible.rows {
    -webkit-flex-direction: row;
    flex-direction: row; }
  .flexible.columns {
    -webkit-flex-direction: column;
    flex-direction: column; }
  .flexible.horizontally-centered {
    -webkit-align-items: center;
    align-items: center; }
  .flexible.vertically-centered {
    -webkit-justify-content: center;
    justify-content: center; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.center-block {
  margin: 0 auto; }

.centered {
  text-align: center; }

.marginless {
  margin: 0; }

.paddingless {
  padding: 0; }

/* http://stackoverflow.com/a/6900392 */
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.default-cursor {
  cursor: default; }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

.capitalize {
  text-transform: capitalize; }

.larger {
  font-size: 150%; }

.large {
  font-size: 125%; }

/* Variables */
html {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  height: 100%; }

body {
  font-family: "Montserrat", sans-serif; }

.title {
  margin-top: 10vh; }

h1 {
  font-size: 3.25vw;
  color: #37291a;
  letter-spacing: 0.3rem;
  word-spacing: 1rem;
  margin-bottom: 0; }

h3 {
  font-size: 1.625vw;
  margin: 0.5rem;
  color: #493622; }

section.game {
  font-family: "Droid Sans", sans-serif;
  background: white;
  border-radius: 6px; }

code {
  padding: 2px 4px;
  font-size: inherit;
  color: #37291a;
  border-radius: 4px;
  margin-left: 0.125vw;
  margin-right: 0.125vw; }
  code:first-child {
    margin-left: 0; }
  code:last-child {
    margin-right: 0; }

.parenthesis-tile {
  position: relative;
  font-size: 3.15vw;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: initial;
  width: 2rem;
  height: 7vw;
  margin: 0.5vw;
  border: initial;
  border-radius: 35%;
  background-color: initial;
  transition: background-color 75ms ease-out;
  transition: font-size 75ms ease-in-out; }
  .parenthesis-tile .parenthesis {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: inherit;
    font-weight: inherit;
    background-color: transparent;
    color: #37291a;
    transition: inherit;
    cursor: default; }

.operator-tile {
  position: relative;
  font-size: 3.15vw;
  cursor: pointer;
  font-family: "Times New Roman";
  font-weight: 900;
  color: #879093;
  width: 4.62vw;
  height: 4.62vw;
  margin: 0.5vw;
  border: 4px dashed transparent;
  border-radius: 50%;
  background-color: initial;
  transition: background-color 75ms ease-out;
  transition: font-size 75ms ease-in-out; }
  .operator-tile .operator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: inherit;
    font-weight: inherit;
    background-color: transparent;
    color: #37291a;
    transition: inherit; }
  .operator-tile.operator-hover {
    background-color: #d8dadb;
    color: #494f51;
    border: 4px dashed #afb5b7; }
    .operator-tile.operator-hover .operator {
      font-size: 3.6225vw;
      color: inherit; }
  .operator-tile:active {
    background: #afb5b7;
    border: 4px dashed #879093; }
    .operator-tile:active .operator {
      font-size: 4.347vw; }

.number-tile {
  margin-left: 1vw;
  margin-right: 1vw;
  position: relative;
  font-size: 3.15vw;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #37291a;
  width: 7vw;
  height: 7vw;
  margin: 0.5vw;
  border: 4px dashed transparent;
  border-radius: 6px;
  background-color: #f0e8e0;
  transition: background-color 75ms ease-out;
  transition: font-size 75ms ease-in-out; }
  .number-tile:first-child {
    margin-left: 0; }
  .number-tile:last-child {
    margin-right: 0; }
  .number-tile .number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: inherit;
    font-weight: inherit;
    background-color: transparent;
    color: inherit;
    transition: inherit; }
  .number-tile.swappable {
    background-color: #eaf0f5;
    border: 4px dashed #94b0cc;
    color: #273d53; }

.equal-sign {
  position: relative;
  font-size: 3.78vw;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #37291a;
  width: initial;
  height: 7vw;
  margin: 4rem;
  border: initial;
  border-radius: initial;
  background-color: transparent;
  transition: background-color 75ms ease-out;
  transition: font-size 75ms ease-in-out;
  margin-right: 2rem; }
  .equal-sign .equals {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }

.result-display {
  position: relative;
  font-size: 3.78vw;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #37291a;
  width: initial;
  height: initial;
  margin: 2rem;
  border: initial;
  border-radius: initial;
  background-color: transparent;
  transition: background-color 75ms ease-out;
  transition: font-size 75ms ease-in-out;
  width: 5rem; }

.success {
  color: #3B5998; }

.footer {
  font-weight: 300;
  margin: 0.77778rem; }
  .footer .footer-item {
    text-transform: lowercase;
    letter-spacing: 0px;
    color: #707070; }
    .footer .footer-item:hover {
      font-weight: 300;
      color: black;
      border-bottom: 1px dotted; }
  .footer .divider {
    color: #b0b0b0;
    padding-left: 0.38889vw;
    padding-right: 0.38889vw; }
  .footer .footer-details {
    font-size: 13.3px;
    color: #575757; }
  .footer section a {
    text-decoration: none;
    color: #707070; }
    .footer section a:hover {
      color: black;
      border-bottom: 1px dotted; }
  .footer section #fbShare:hover {
    color: #3B5998;
    font-weight: 300;
    border-bottom: 1px dotted #3B5998; }
  .footer section #twitterShare:hover {
    color: #55ACEE;
    font-weight: 300;
    border-bottom: 1px dotted #55ACEE; }
  .footer section #googleShare:hover {
    color: #DD4B39;
    font-weight: 300;
    border-bottom: 1px dotted #DD4B39; }
